<html>
<head>
    <title>GoGo!</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <style>
        body {
            margin: 0;
            padding: 0;
            overflow: hidden; /* Hide scrollbars */

        }

        .form-select {
            /*display: block;*/
            /*width: 100%;*/
            padding: 0.375rem 2.25rem 0.375rem 0.75rem;
            -moz-padding-start: calc(0.75rem - 3px);
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            color: #212529;
            background-color: #fff;
            background-image: url("/static/img/arrow_down.svg");
            background-repeat: no-repeat;
            background-position: right 0.75rem center;
            background-size: 16px 12px;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
        }

    </style>

    <style>
        /*! CSS Used from: https://preview.colorlib.com/theme/author/css/A.animate.css+owl.carousel.min.css+owl.theme.default.min.css+magnific-popup.css+flaticon.css+style.css,Mcc.vY6Q4GACwD.css.pagespeed.cf.Hw1CJeWQFW.css */
        .ftco-animated{-webkit-animation-duration:.5s;animation-duration:.5s;-webkit-animation-fill-mode:both;animation-fill-mode:both;}
        .fadeInUp{-webkit-animation-name:fadeInUp;animation-name:fadeInUp;}
        *,*::before,*::after{-webkit-box-sizing:border-box;box-sizing:border-box;}
        section{display:block;}
        h2,h4{margin-top:0;margin-bottom:.5rem;}
        p{margin-top:0;margin-bottom:1rem;}
        h2,h4{margin-bottom:.5rem;font-weight:500;line-height:1.2;}
        h2{font-size:2rem;}
        h4{font-size:1.5rem;}
        .container{width:100%;padding-right:15px;padding-left:15px;margin-right:auto;margin-left:auto;}
        @media (min-width:576px){
            .container{max-width:540px;}
        }
        @media (min-width:768px){
            .container{max-width:1000px;}
        }
        @media (min-width:992px){
            .container{max-width:960px;}
        }
        @media (min-width:1200px){
            .container{max-width:1140px;}
        }
        .row{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;margin-right:-15px;margin-left:-15px;}
        .no-gutters{margin-right:0;margin-left:0;}
        .no-gutters>[class*="col-"]{padding-right:0;padding-left:0;}
        .col-md-6,.col-md-12,.col-lg-6{position:relative;width:100%;padding-right:15px;padding-left:15px;}
        @media (min-width:768px){
            .col-md-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
            .col-md-12{-webkit-box-flex:0;-ms-flex:0 0 100%;flex:0 0 100%;max-width:100%;}
        }
        @media (min-width:992px){
            .col-lg-6{-webkit-box-flex:0;-ms-flex:0 0 50%;flex:0 0 50%;max-width:50%;}
        }
        .d-flex{display:-webkit-box!important;display:-ms-flexbox!important;display:flex!important;}
        .justify-content-start{-webkit-box-pack:start!important;-ms-flex-pack:start!important;justify-content:flex-start!important;}
        .align-items-center{-webkit-box-align:center!important;-ms-flex-align:center!important;align-items:center!important;}
        .align-items-stretch{-webkit-box-align:stretch!important;-ms-flex-align:stretch!important;align-items:stretch!important;}
        .align-self-stretch{-ms-flex-item-align:stretch!important;-ms-grid-row-align:stretch!important;align-self:stretch!important;}
        .mb-4{margin-bottom:1.5rem!important;}
        .pb-3{padding-bottom:1rem!important;}
        @media (min-width:768px){
            .pl-md-5{padding-left:3rem!important;}
        }
        @media print{
            *,*::before,*::after{text-shadow:none!important;-webkit-box-shadow:none!important;box-shadow:none!important;}
            p,h2{orphans:3;widows:3;}
            h2{page-break-after:avoid;}
            .container{min-width:992px!important;}
        }
        h2,h4{line-height:1.5;color:#263b5e;font-weight:400;font-family:"Raleway",sans-serif;}
        .ftco-about .img-about{width:100%;z-index:0;position:relative;}
        .ftco-about .img-about .img{display:block;width:100%;position:relative;z-index:1;}
        .ftco-about .text-about h4{font-size:20px;font-weight:700;}
        .ftco-animate{opacity:0;visibility:hidden;}
        .ftco-section{
            /*padding:7em 0;*/
            position:relative;
        }
        @media (max-width:767.98px){
            .ftco-section{padding:6em 0;}
        }
        .heading-section{position:relative;}
        .heading-section h2{font-size:50px;font-weight:700;}
        @media (max-width:767.98px){
            .heading-section h2{font-size:38px;}
        }
        .img{background-size:cover;background-repeat:no-repeat;background-position:center center;}
        /*! CSS Used keyframes */
        @-webkit-keyframes fadeInUp{from{opacity:0;visibility:hidden;-webkit-transform:translate3d(0, 40px, 0);transform:translate3d(0, 40px, 0);}to{opacity:1;visibility:visible;-webkit-transform:none;transform:none;}}
        @keyframes fadeInUp{from{opacity:0;visibility:hidden;-webkit-transform:translate3d(0, 40px, 0);transform:translate3d(0, 40px, 0);}to{visibility:visible;opacity:1;-webkit-transform:none;transform:none;}}
        /*! CSS Used fontfaces */
        @font-face{font-family:'Raleway';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCAIT5lu.woff2) format('woff2');unicode-range:U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCkIT5lu.woff2) format('woff2');unicode-range:U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCIIT5lu.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyCMIT5lu.woff2) format('woff2');unicode-range:U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
        @font-face{font-family:'Raleway';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/raleway/v26/1Ptug8zYS_SKggPNyC0ITw.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}    </style>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>

</head>
<body>

<div class="dropdown">
    <button type="button" class="btn dropdown-toggle" id="dropdownMenu1"
            data-toggle="dropdown">
        Apps
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/notepad.html', this.innerText)">记事本</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/notes.html', this.innerText)">贴纸</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/dd-upload.html', this.innerText)">文件上传</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/whiteboard/whiteboard.htm', this.innerText)">白板</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/translate.html', this.innerText)">中英翻译</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/views/media_open', this.innerText)">开放多媒体</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/clipboard.html', this.innerText)">剪贴板</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/str-joiner.html', this.innerText)">python执行器</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/sqlite-web/', this.innerText)">sqlite-web</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/views/video_thumbnail', this.innerText)">视频缩略图</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/static/sql_runner.html', this.innerText)">sql执行器</a>
        </li>
        <li role="presentation" class="divider"></li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/files/', this.innerText)">Files</a>
        </li>
        <li role="presentation">
            <a role="menuitem" tabindex="-1" href="javascript:;"  onclick="switchIFrame('/files/message.txt', this.innerText)">Log</a>
        </li>

    </ul>
</div>
<!--<select onchange="switchIFrame(this.value)"  class="form-select">-->
<!--    <option value="/static/about.html">关于</option>-->
<!--    <option value="/static/notepad.html">记事本</option>-->
<!--    <option value="/static/notes.html">贴纸</option>-->
<!--    <option value="/static/dd-upload.html">文件上传</option>-->
<!--    <option value="/static/whiteboard/whiteboard.htm">白板</option>-->
<!--    <option value="/static/translate.html">中英翻译</option>-->

<!--    {{if .IsLocal}}-->
<!--    <option value="/views/media_open">开放多媒体</option>-->
<!--    <option value="/static/clipboard.html">剪贴板</option>-->
<!--    <option value="/static/str-joiner.html">python执行器</option>-->
<!--    <option value="/sqlite-web/">sqlite-web</option>-->
<!--    <option value="/views/video_thumbnail">视频缩略图</option>-->
<!--    <option value="/static/sql_runner.html">sql执行器</option>-->


<!--    {{else}}-->
<!--    <option value="/static/str-joiner.html">字符串拼接器</option>-->
<!--    <option value="/sqlite-web/">sqlite-web</option>-->
<!--    {{end}}-->


<!--    <option disabled>──────────</option>-->
<!--    <option value="/files/">Files</option>-->
<!--    <option value="/files/message.txt">Log</option>-->
<!--    <option disabled  id="timeSpan">Built Time</option>-->
<!--</select>-->



<section class="ftco-about img ftco-section" id="about-section">
    <div class="container">
        <div class="row d-flex no-gutters">
            <div class="col-md-6 col-lg-6 d-flex">
                <div class="img-about img d-flex align-items-stretch">
                    <div class="overlay"></div>
                    <div class="img d-flex align-self-stretch align-items-center" style="background-image:url(/static/img/xbg_1.jpg.pagespeed.ic.XqukVo4x3e.webp)">
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 pl-md-5">
                <div class="row justify-content-start pb-3">
                    <div class="col-md-12 heading-section ftco-animate fadeInUp ftco-animated">
                        <h2 class="mb-4">About The Tool</h2>
                        <p id="timeSpan"></p>
                        <p>A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
                        <div class="text-about">
                            <h4>Award achievements</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <h4>Read On Any Devices</h4>
                            <p>Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
                            <h4>Very High Resolution</h4>
                            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script type="text/javascript" src="/static/js/winbox.bundle.js"></script>


<script type="text/javascript">
    (async ()=>{
        document.querySelector("#timeSpan").innerHTML= (await (await fetch("/static/time.txt")).text())+"(built time)";
    })();



    function switchIFrame(url,title="default" ) {
        new WinBox(title, {
            url: url,
            x:"center",
            y:"center",
            background: "#b4b1b2",
        });
    }

    // switchIFrame("/static/about.html", "About");

    //window.location.href="http://127.0.0.1:59989/www"
    if (location.href.indexOf("islocal=1") !== -1) {
        window.addEventListener('beforeunload', async function (e) {
            e.preventDefault();
            // e.returnValue = '';
            console.log("browser close...");
            await fetch("/api/window-close")
        });

    }


    //禁用页面前进后退
    // history.pushState(null, null, document.URL);
    // window.addEventListener('popstate', function () {
    //     history.pushState(null, null, document.URL);
    // });

    // {{if .IsLocal}}
    // async function getLocalIP(){
    //     //获取ip
    //     let ip = await (await fetch("/api/get-local-ip")).text()
    //     document.querySelector("#openInBrowserLink").setAttribute("href","http://"+ip+":9999/")
    //
    // }
    //
    // getLocalIP();
    // {{end}}
</script>


<script type="text/javascript">

</script>
</body>
</html>