<html>
<head>
    <title>GoGo!</title>
    <link rel="icon" type="image/x-icon" href="/static/favicon.ico">

    <style>
        body {
            margin: 0;
            padding: 0;
        }

    </style>
</head>
<body>
<select onchange="switchIFrame(this.value)">

    <option value="/static/notepad.html">记事本</option>
    <option value="/static/notes.html">贴纸</option>
    <option value="/static/dd-upload.html">文件上传</option>
    <option value="/static/whiteboard/whiteboard.htm">白板</option>


    {{if .IsLocal}}
    <option value="/views/media_open">开放多媒体</option>
    <option value="/static/clipboard.html">剪贴板</option>
    <option value="https://www.zhouzhipeng.com/py/static/str-joiner.html">字符串拼接器</option>
    <option value="https://www.zhouzhipeng.com/sqlite-web/">sqlite-web</option>
    <option value="/views/video_thumbnail">视频缩略图</option>
    <option value="/static/sql_runner.html">sql执行器</option>


    {{else}}
    <option value="/py/static/str-joiner.html">字符串拼接器</option>
    <option value="/sqlite-web/">sqlite-web</option>
    {{end}}
</select>


<div style="float:right;display: inline;">
    <a href="/files/" target="_blank">Files</a>
    <a href="/files/message.txt" target="_blank">Log</a>


    <span id="timeSpan"></span>
    <span>(built time)</span>
</div>


<script type="text/javascript">
    (async ()=>{
        document.querySelector("#timeSpan").innerHTML=await (await fetch("/static/time.txt")).text();
    })();



    function switchIFrame(url) {
		let iframe = document.createElement('iframe');
		iframe.id="mainContent";
		iframe.src = url;
		iframe.style.border=0;
		iframe.width="100%";
		iframe.height="100%";
		let frame= document.querySelector("#mainContent");
		if(frame){
			frame.remove()
		}
		document.body.appendChild(iframe);
    }

    switchIFrame("/static/notepad.html");

    //window.location.href="http://127.0.0.1:59989/www"
    // if (location.href.indexOf("islocal=1") !== -1) {
    //     window.addEventListener('beforeunload', async function (e) {
    //         e.preventDefault();
    //         // e.returnValue = '';
    //         console.log("browser close...");
    //         await fetch("/api/window-close")
    //     });
    //
	// 	window.addEventListener('beforeunload', async function (e) {
	// 		e.preventDefault();
	// 		// e.returnValue = '';
	// 		console.log("browser close...");
	// 		await fetch("/api/window-close")
	// 	});
    //
    // }


    //禁用页面前进后退
    // history.pushState(null, null, document.URL);
    // window.addEventListener('popstate', function () {
    //     history.pushState(null, null, document.URL);
    // });

    {{if .IsLocal}}
    async function getLocalIP(){
        //获取ip
        let ip = await (await fetch("/api/get-local-ip")).text()
        document.querySelector("#openInBrowserLink").setAttribute("href","http://"+ip+":9999/")

    }

    getLocalIP();
    {{end}}
</script>
</body>
</html>