<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery

	galleryTitle="Juicebox-Pro Gallery"
	debugMode="true"
	splashDescription="This is a sample splash page description. Use this text to describe the gallery to users who are viewing on an mobile device."

>
  <image imageURL="images/4821608660_0c00798788_b.jpeg"
	thumbURL="thumbs/4821608660_0c00798788_b.jpeg"
	linkURL="images/4821608660_0c00798788_b.jpeg"
	linkTarget="_blank">
    	<title><![CDATA[Welcome to <u><a href="http://www.juicebox.net/" target="_blank">Juicebox-Pro</a></u>.]]></title>
  </image>
  <image imageURL="images/3999816098_3cb9fa1ef4_b.jpeg"
	thumbURL="thumbs/3999816098_3cb9fa1ef4_b.jpeg"
	linkURL="images/3999816098_3cb9fa1ef4_b.jpeg"
	linkTarget="_blank">
    <caption>This is a sample Juicebox-Pro gallery, showing some of the exclusive Pro features.</caption>
  </image>
  <image imageURL="images/5006533323_93323f7d9b_b.jpeg"
	thumbURL="thumbs/5006533323_93323f7d9b_b.jpeg"
	linkURL="images/5006533323_93323f7d9b_b.jpeg"
	linkTarget="_blank">
	<title>Pro Button-Bar</title>
    <caption>The Pro Button Bar above allows for AutoPlay control, Next/Back navigation, Information button and Audio Toggle.</caption>
  </image>
  <image imageURL="images/5283944526_c5e23a3aef_b.jpeg"
	thumbURL="thumbs/5283944526_c5e23a3aef_b.jpeg"
	linkURL="images/5283944526_c5e23a3aef_b.jpeg"
	linkTarget="_blank">
	<title>Watermarks</title>
    	<caption><![CDATA[JuiceboxBuilder-Pro allows you to easily add a watermark image into your gallery images.]]></caption>
  </image>
  <image imageURL="images/5007142028_79cc0c88b3_b.jpeg"
	thumbURL="thumbs/5007142028_79cc0c88b3_b.jpeg"
	linkURL="images/5007142028_79cc0c88b3_b.jpeg"
	linkTarget="_blank">
	<title>Back Button</title>
    <caption>At top-left is the optional 'Back Button'. Button text and link URL are configurable.</caption>
  </image>
  <image imageURL="images/4404535825_015c8364ca_b.jpeg"
	thumbURL="thumbs/4404535825_015c8364ca_b.jpeg"
	linkURL="images/4404535825_015c8364ca_b.jpeg"
	linkTarget="_blank">
	<title>Easy Theming</title>
    <caption><![CDATA[Configure colors and positioning via config options or create a custom theme for more advanced theming.]]></caption>
  </image>
  <image imageURL="images/5373458892_284dd3bff0_b.jpeg"
	thumbURL="thumbs/5373458892_284dd3bff0_b.jpeg"
	linkURL="images/5373458892_284dd3bff0_b.jpeg"
	linkTarget="_blank">
	<title>AutoPlay</title>
    <caption><![CDATA[AutoPlay options include looping and randomization.]]></caption>
  </image>
  <image imageURL="images/5007140702_a8702cbdb9_b.jpeg"
	thumbURL="thumbs/5007140702_a8702cbdb9_b.jpeg"
	linkURL="images/5007140702_a8702cbdb9_b.jpeg"
	linkTarget="_blank">
	<title>API</title>
    <caption><![CDATA[<u><a href="http://juicebox.net/support/api/" target="_blank">JavaScript API</a></u> allows external gallery control.]]></caption>
  </image>
  <image imageURL="images/3415830592_1be619e794_b.jpeg"
	thumbURL="thumbs/3415830592_1be619e794_b.jpeg"
	linkURL="images/3415830592_1be619e794_b.jpeg"
	linkTarget="_blank">
	<title>Unlimited Gallery Size</title>
    <caption><![CDATA[Support for large galleries. Unlimited local images or up to 500 Flickr images.]]></caption>
  </image>
   <image imageURL="images/3537421319_b60f676806_b.jpeg"
	thumbURL="thumbs/3537421319_b60f676806_b.jpeg"
	linkURL="images/3537421319_b60f676806_b.jpeg"
	linkTarget="_blank">
	<title>No Branding</title>
    <caption><![CDATA[Integrate Juicebox-Pro free of any branding for a full and seamless integration into your site.]]></caption>
  </image>
 <image imageURL="images/4755619671_506f606a14_b.jpeg"
	thumbURL="thumbs/4755619671_506f606a14_b.jpeg"
	linkURL="images/4755619671_506f606a14_b.jpeg"
	linkTarget="_blank">
	<title>Music</title>
    <caption><![CDATA[Supports audio playback.]]></caption>
  </image>
  <image imageURL="images/5006532661_c1b5577b93_b.jpeg"
	thumbURL="thumbs/5006532661_c1b5577b93_b.jpeg"
	linkURL="images/5006532661_c1b5577b93_b.jpeg"
	linkTarget="_blank">
	<title>Pro Customization Options</title>
    <caption><![CDATA[Take advantage of over 70 additional pro customization options.]]></caption>
  </image>
  <image imageURL="images/5042287063_7b6d870420_b.jpeg"
	thumbURL="thumbs/5042287063_7b6d870420_b.jpeg"
	linkURL="images/5042287063_7b6d870420_b.jpeg"
	linkTarget="_blank">
	<title>One-time Purchase</title>
    <caption><![CDATA[A one-time payment with no monthly fees works out much cheaper than the equivalent hosted image gallery solution.]]></caption>
  </image>
</juiceboxgallery>
